*{
    margin: 0;
}

body{
    width: 100%;
    background: url(bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1{
    font-family: 'Smooch Sans', sans-serif;
    color: white;
    font-size: 3em;
}

.container{
    height:100vh;
}

header{
    text-align: center;
}

section{
    text-align: center;
}
button.btn-info{
    font-size: 1em;
    text-transform: uppercase;
}